.parent {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 20px auto;
  border: 1px solid black;
  .children1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: antiquewhite;
  }
  .children1 {
    width: 100px;
    height: 200px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aqua;
  }
}
